@guard-background-color: background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);


@media (min-width: 0px) and (min-height: 0px) { /*SHOULD SAY 1280x640 FOR FULLSCREEN*/
	  
	html {
	  min-height:100%;
	  height:100%;
	  width:100%;
	  min-width: 100%;
	}

	body {
	  	min-height: 100%;
	  	min-width: 100%;
	  	font-family: 'Eczar', serif;
	  	font-weight: 500;
	  	font-size: 1em;
	  	background-color: black;
	  	/* DISABLE TEXT SELECTION */
	  	-webkit-touch-callout: none; /* iOS Safari */
    	-webkit-user-select: none; /* Safari */
     	-khtml-user-select: none; /* Konqueror HTML */
       	-moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        background-image: url("../images/pw_maze_black.png");
	}

	body:hover {
		cursor: default;
	}

	div {
		/*border: 1px solid red;*/

	}

	p {
		height: 100%;
		width: 100%;
	}

	/* CSS GRID LAYOUT */
	.wrapper {
	  width: 100%;
	  height: 100%;
	  min-width: 100%;
	  padding: 0;
	  display: grid;
	  grid-gap: 0px;
	  grid-template-columns: repeat(5, 1fr); 
	  grid-template-rows: repeat(5, 1fr);
	}

	/* CELL LAYOUT & POSITIONS */

	.floor {
		background-image: url("../images/pw_maze_black.png");
		background-color: rgba(0,0,0,1);
		background-size: auto;
	}

	.table-box {
		/*border: 1px solid #442200;*/
		border-radius: 100px;
		grid-area: 2 / 2 / 5 / 5;
	  	position: relative;
	  	z-index: 0;
	  	/*background-image: url("red-wallpaper.jpg");*/
	  	/*background-size: cover;*/
	  	/*transform: rotate(-180deg);*/
	  	background-color: #663300;
	  	overflow: hidden;
	}

	.table-box:after {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    top: -10px;
    left: -10px;
    z-index: -1;
    /*background: url(../images/red-wallpaper.jpg) 0 0 repeat;*/
    background: url(../images/dark-raw.jpg) 0 0 repeat;
    background-size: contain;
    background-position: center center;
 /*   -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);*/
}

	.table-center {
		grid-area: 3 / 3;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
	}

	#deck {
	  /* offsetX, offsetY, blur, spread, color */
		box-shadow: 2.5px 2.5px 2px 2.5px rgba(0,0,0,0.6666666666666666);

	}

	.player-box {
		display: grid;
		position: relative;
		grid-template-columns: 1fr;
		grid-template-rows: 4fr 1fr 13fr;
		/*height: 100%;*/
		text-align: center;
		z-index: 1;
		color: silver;
		font-weight: 400;
		background-image: url("../images/red-wallpaper.png");
		background-size: cover;
		border-radius: 20px;
		/*border-top-right-radius: 20px;*/
	    /*background-size: auto|length|cover|contain|initial|inherit;*/
		background-color: #477418;
	}

	.player-info {
		display: flex;
		flex-direction: column;
		/*background-color: rgba(0,0,0,0.4);*/
		background-image: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0.5), rgba(0,0,0,0) 70%);
		/*justify-content: center;*/
		justify-content: center;
		align-items: center;
	}

	.player-turn-indicator {
		background-image: radial-gradient(rgba(0,0,0,1), rgba(205,0,0,0.5), rgba(0,0,0,0) 70%);
	}

	.player-name {
		align-items: center;
	}

	.player-score {
		position: relative;
		/*padding-top: 5px;*/
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.player-hand {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.player-cards {
		display: flex;
		align-items: center;
		/*width: 267px;*/
		/*height: 120px;*/
	}

	#player-1-box {
		grid-area: 1 / 3;
		justify-content: center;
		/*width: 267px;*/
		/*height: 142px;*/
		/*background-image: url("../images/pool_table.png");*/
	}

	#player-2-box {
		grid-area: 3 / 5;
		/*width: 241px;*/
		/*height: 142px;*/
	}

	#player-3-box {
		grid-area: 5 / 3;
		/*width: 267px;*/
		/*height: 142px;*/
	}

	#player-4-box {
		grid-area: 3 / 1;
		/*width: 241px;*/
		/*height: 142px;*/
	}

	#player-1-cards {
		grid-area: 2 / 3;
		display: flex-inline;
		justify-content: center;
		align-items: center;
	}

	#player-2-cards {
		grid-area: 3 / 4;
		display: flex;
		justify-content: flex-end;
		padding-right: 10px;
		align-items: center;
	}

	#player-3-cards {
		grid-area: 4 / 3;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#player-4-cards {
		grid-area: 3 / 2;
		display: flex;
		justify-content: flex-start;
		padding-left: 10px;
		align-items: center;
	}

	/* CARDS */

	.card {
		position: relative;
		display: grid;
		grid-template-columns: 30% 70%;
		width: 69px;
		height: 97px;
		margin: 2px;
		padding: 2px;
		z-index: 2;
		color: black;
		background-color: white;
		box-shadow: 0px 0px 0px 1px silver, /*inset 0px 0px 0px 2px rgba(0,0,0,1),*/ 2px 2px 4px 0px rgba(0,0,0,0.5);
		/*border: 1px solid black;*/
	}

	.card:hover {
		cursor: default;
		transition: 0.3;
		outline: 2px solid gold;
	}

/*	.card-name {
		position: relative;
		display: none;
		flex-flow: column-reverse;
		justify-content: flex-end;
		padding-right: 10px;
		letter-spacing: 0.03rem;
		background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0) 50%);
		border-right: 1px solid rgba(0,0,0,0.1);
	}*/

	.rotate-card-text {  
    transform:  translateX(400%) translateY(325%) rotate(-90deg);
	}

/*	.card-number {
		display: none;
		position: relative;
		align-items: flex-start;
		justify-content: flex-end;
	}*/

	.card-guard {
		/*background-image: radial-gradient(closest-corner,white 0%, #ffaa00 50%, #d68f00 110%);*/
		background-image: url("../images/guard.jpg");
		background-color: rgba(0,0,0,1);
		background-size: contain;
	}

	.card-priest {
		/*background-image: radial-gradient(closest-corner,white 0%, #ff6666 50%, #800000 110%);*/
		background-image: url("../images/priest.jpg");
		background-color: rgba(0,0,0,1);
		background-size: contain;
	}

	.card-baron {
		/*background-image: radial-gradient(closest-corner,white 0%, #b28dd6 50%, #8531da 110%);*/
		background-image: url("../images/baron.jpg");
		background-color: rgba(0,0,0,1);
		background-size: contain;
	}

	.card-handmaid {
		/*background-image: radial-gradient(closest-corner,white 0%, #99ccff 50%, #1e90ff 110%);*/
		background-image: url("../images/handmaid.jpg");
		background-color: rgba(0,0,0,1);
		background-size: contain;
	}

	.card-prince {
		/*background-image: radial-gradient(closest-corner,white 0%, #f8d044 50%, #a17f1a 100%);*/
		background-image: url("../images/prince.jpg");
		background-color: rgba(0,0,0,1);
		background-size: contain;
	}

	.card-king {
		/*background-image: radial-gradient(closest-corner,white 0%, #93b881 50%, #5e9443 110%);*/
		background-image: url("../images/king.jpg");
		background-color: rgba(0,0,0,1);
		background-size: contain;
	}
	
	.card-countess {
		/*background-image: radial-gradient(closest-corner,white 0%, #02bdbd 50%, #126363 110%);*/
		background-image: url("../images/countess.jpg");
		background-color: rgba(0,0,0,1);
		background-size: contain;
	}

	.card-princess {
		/*background-image: radial-gradient(closest-corner,white 0%, #e1dbd0 50%, #928367 110%);*/
		background-image: url("../images/princess.jpg");
		background-color: rgba(0,0,0,1);
		background-size: contain;
	}

	.card-back {
		position: relative;
		width: 60px;
		height: 82px;
		background-color: #000;
		overflow: hidden;
		border: 1px solid silver;
		box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,1), 2px 2px 2px 0px rgba(0,0,0,0.5);
		z-index: 1;
	}

	.card-back:hover{
		cursor: default; /*DISABLE POINTER CURSOR ON HIDDEN CARDS*/
		outline: none; /*DISABLE OUTLINE ON HIDDEN CARDS*/
	}

	#deck:hover {
		cursor: default;
		/*outline: 1px solid gold;*/
	}

	/*CARD BACK PATTERN OVERLAY	*/
	.card-back:after{
		content: "";
		position: absolute;
		width: 200%;
		height: 200%;
		top: -50%;
		left: -50%;
		z-index: -2;
		background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAR0lEQVQoU2P8z8AgxYAJnjIwMEiDhBlxKIBrIVkByGgQABkPZoNM+I8k4AdVsImBgQHMxqUApxtAxsJMASnahM2RMEUga6QBtFsVAahrabcAAAAASUVORK5CYII=) repeat;
		transform: rotate(45deg);
	}

	.rotate-hidden-card {  
		position: absolute;
	    transform: translateX(-15px) rotate(-90deg);
	    box-shadow: -1px 2px 2px 0px rgba(0,0,0,0.5);
	}


	/* SCORE HEARTS (full) */
	/* THE SQUARE */
	.heart { 
		position: relative;
		background-color: red;
		height: 5px;
		transform: rotate(-45deg);
		width: 5px;
		margin-left: 5px;
		order: 0;
	}

	/* THE CIRCLES */
	.heart:before,
	.heart:after {
		content: "";
		background-color: red;
		border-radius: 50%;
		height: 5px;
		position: absolute;
		width: 5px;
		order: 0;
	}

	.heart:before {
		top: -3px;
		left: 0;
		order: 0;
	}

	/* SCORE HEARTS (empty) */
	/* THE SQUARE */
	.heart-empty { 
		position: relative;
		background-color: #aa4444;
		height: 5px;
		transform: rotate(-45deg);
		width: 5px;
		margin-left: 5px;
		order: 1;
		opacity: 0.5;
	}

	/* THE CIRCLES */
	.heart-empty:before,
	.heart-empty:after {
		content: "";
		background-color: #aa4444;
		border-radius: 50%;
		height: 5px;
		position: absolute;
		width: 5px;
		order: 1;
	}

	.heart-empty:before {
		top: -3px;
		left: 0;
		order: 1;
	}

	/* The Modal (background) */
	.modal-card-zoom {
	    display: none; /* Hidden by default */
	    position: fixed; /* Stay in place */
	    z-index: 3; /* Sit on top */
	    padding-top: 0%; /* Location of the box */
	    left: -5px;
	    top: 0;
	    width: 255px; /* Card width max = 300px */
	    height: 348px; /* Card height max = 410px */
	    overflow: none; /* Enable scroll if needed */
	    /*background-color: rgb(0,0,0);*/ /* Fallback color */
	    /*background-color: rgba(0,0,0,0.3);*/ /* Black w/ opacity */
	}

	/* Modal Content (image) */
	.modal-content {
	    margin: auto;
	    display: block;
	    width: 100%;
	    max-width: 410px;
	}

	/* Add Animation */
	.modal-zoom-in {    
	    -webkit-animation-name: zoom-in;
	    -webkit-animation-duration: 0.6s;
	    animation-name: zoom-in;
	    animation-duration: 0.6s;
	}

	@-webkit-keyframes zoom-in {
	    from {
	    	-webkit-transform:scale(0);
	    	opacity: 0;
	    } 
	    to {-webkit-transform:scale(1);
	    	opacity: 1;
	    }
	}

	@keyframes zoom-in {
	    from {transform:scale(0);
	    	  opacity: 0;
	    } 
	    to {transform:scale(1)
	    	opacity: 1;
	    }
	}

	.modal-zoom-out {
		-webkit-animation-name: zoom-out;
	    -webkit-animation-duration: 0.6s;
	    animation-name: zoom-out;
	    animation-duration: 0.6s;
	    /*display: none;*/
	}

	@-webkit-keyframes zoom-out {
	    from {-webkit-transform:scale(1);
	    	  opacity: 1;
	    } 
	    to {
	    	-webkit-transform:scale(0);
	    	opacity: 0;
	    }
	}

	@keyframes zoom-out {
	    from {transform:scale(1);
	    	opacity: 1;
	    } 
	    to {transform:scale(0);
	    	opacity: 0;
	    }
	}



} /*MEDIA END*/

